*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /*font-family: 'Courier New', Courier, monospace, sans-serif;*/
   /* background-color: #ffdfee98;*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    background-color:rgba(247, 247, 247, 0.952);
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff8411, #D2691E);*/
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

header {
    background: #010101;
    background-color: white;
    padding: 0px 20px 0px 10px;
}

/* header h1{
    text-align: center;
    font-size: 11.2em;
    ackground-color: #7D5A5C;
    background-color: #ffffff;
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-family:  Roundhand, cursive;
} */

header .logo{
    width: 150px;
}

.navegar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navegar ul{
    display: flex;
    align-items: center;
    gap: 60px;
}

.navegar ul li a{
    color: #888;
    font-weight: 600px;
    padding-bottom: 4px;
    transition: all 0.5s ease-in-out;
}

.navegar ul li a:hover{
    color: #6343f1;
    border-bottom: 1px solid #fff;
}

.navegar .check{
    color: #fff;
    border-bottom: 1px solid #fff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.mvv{
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    width: 550px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}


.mvv-text h1{
  font-size: 90px;
}

.mvv-text p{
  display: flex;
  text-align:justify;
  font-size: 25px;
}

.mvv img{
    display: flex;
    width: 450px;
    height: 350px;
    margin: 50px;
    
}

.img-article{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 90px;
}
    
article{
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.espace{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #fce2e8;
    margin: 100px;
}

.espace h1{
  font-size: 40px;
  margin: 60px;
  font-family: serif;
  text-transform: uppercase;
}

.espace h1:before,
.espace h1:after {
  content: "";
  width: 35%;
  height: 1px;
  background: #555;
  position: absolute;
  top: 50%;
}

.espace h1:before {
  left: 0;
}
.espace h1:after {
  right: 0;
}

.espace h3{
  font-size: 30px;
}

.espace p{
  font-size: 25px;
}


.fabrica{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  margin-bottom: 20px ;
}

.f-icons{
  font-size: 35px;
  color: #070707;
  display: none;
}

.encomendas{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  margin-bottom: 20px ;
}

.entregas{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
}

.espaceCake{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
    margin: 100px;
}

.espaceCake img{
  margin: 18px;
}


section{
 display: flex;
 display: inline;
 text-align: center; 
 color: #fff;
}

section h1{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color:  #fff;
}

article{
    display: flex;
    display: inline;
    text-align: center;
    color: #000000;;
}

article h1, h2{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.all-article{
    /*background-image: url("../assets/background-cake.jpg");*/
    background-color: white;
}

.section-local{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-local h1{
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    color: black;
}

.section-local img{
    width: 300px;
}

footer{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding-top: 40px;
}

footer .footer-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

footer>p {
    color: black;
    padding-left: 23px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.developer {
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    background-color: white;
    padding: 5px;
}

@media  screen and (max-width: 770px) {
    #menuBotao{
        padding-top: 2%;
    }
}

.cars{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  
}

  #carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  input:nth-of-type(1):checked ~ #carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ #carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ #carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ #carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ #carousel {
    --position: 5;
  }

  .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }

  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

  }

  .course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
  }

  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }

  .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100vw;
    height: 300px;
    padding-bottom: 350px;

    background-color: #fce2e8;


    /*background-color: purple;*/

}

.logo-center {
    display: flex;
    flex-direction: column;
    align-items: center;


    width: 300px;
    height: 300px;

    /*border: 1px solid red;*/

}

.logo-center img {
    width: 300px;
    height: 300px;
}

.search {
    position: absolute;
    top: 300px;
    left: 50.5%;
    transform: translate(-50%, -50%);
    background-color: #56aaaa;
    height: 60px;
    border-radius: 15px;
    padding: 10px;
}

.search:hover>.box-txt {
    width: 240px;
    padding: 0 6px;

}

.search:hover>.btn-search {
    background-color: #333;
    margin-left: 3px;

}

.btn-search {
    color: #fdfd4c;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #56aaaa;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.box-txt {
    border: none;
    background-color: #56aaaa;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 45px;

    border-top: 1px solid black;

    background-color: #56aaaa;
}

.menu ul {

    list-style: none;
    display: flex;
    flex-wrap: no-wrap;


}

.menu ul li {
    display: inline-block;

    height: 42px;
    min-width: 80px;

    text-align: center;
}

.menu ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 10px;
    padding: 15px 15px 0 15px;
    height: 100%;
}

.menu ul li a:focus,
.menu ul li a:hover {
    background-color: #126969;
    border-radius: 2px;

}

.social {
    display: inline-block;
    position: fixed;
    right: -45px;
    bottom: 360px;

    width: 65px;
    border-radius: 20px;

    background-color: #56aaaa;
    transition: 0.6s;
}

.social:hover {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.social ul li img {
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-left: 10px;
}

  
