*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /*font-family: 'Courier New', Courier, monospace, sans-serif;*/
   /* background-color: #ffdfee98;*/
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #ff8411, #D2691E);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: white;
    padding: 0px 20px 10px 0px;
}

header h1{
    text-align: center;
    font-size: 11.2em;
    /*background-color: #7D5A5C;*/
    background-color: #D2691E;
    color: white;
    font-family: 'Kaushan Script', cursive;
    /*font-family:  Roundhand, cursive;*/
}

#menuBotao img{
    width: 20px;
    margin-top: 15px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation #logo{
    width: 250px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

#navegar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #fcd9bd;
    z-index: 2;
    transition: 0.5s;
    font-weight: bold;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #ec6313a2;
}

#menuBotao{
    width: 50px;
    height: 45px;
    padding-top: 0%;
    background: #fcd9bd;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

main{
    display: flex;
    justify-content:space-around;
    padding: 20px 20px;
}

.mvv{
    margin: 70px auto 0;
}

.mvv{
    width: 350px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}

.mvv h1 span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.mvv h1:hover span{
    width: 100%;
}

.mvv h1:hover{
    color: black;
}

section{
 display: flex;
 display: inline;
 text-align: center; 
 color: #fff;
}

section h1{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color:  #fff;
}

article{
    display: flex;
    display: inline;
    text-align: center;
    color: #D2691E;;
}

article h1, h2{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.all-article{
    /*background-image: url("../assets/background-cake.jpg");*/
    background-color: white;
}

.section-local{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-local h1{
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    color: black;
}

.section-local img{
    width: 300px;
}

footer{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding-top: 40px;
}

footer .footer-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

footer>p {
    color: black;
    padding-left: 23px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.developer {
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    background-color: white;
    padding: 5px;
}

@media  screen and (max-width: 770px) {
    #menuBotao{
        padding-top: 2%;
    }
}

.cars{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  
}

  #carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
  }
  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  input:nth-of-type(1):checked ~ #carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ #carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ #carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ #carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ #carousel {
    --position: 5;
  }