*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgba(247, 247, 247, 0.952);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 300px;
    padding-bottom: 350px;
    background-color: #fce2e8;
}

.logo-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
}

.logo-center img {
    width: 300px;
    height: 300px;
}

.box-txt {
    border: none;
    background-color: #56aaaa;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45px;
    border-top: 1px solid black;
    background-color: #56aaaa;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: no-wrap;
}

.menu ul li {
    display: inline-block;

    height: 42px;
    min-width: 80px;

    text-align: center;
}

.menu ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 10px;
    padding: 15px 15px 0 15px;
    height: 100%;
}

.menu ul li a:focus,
.menu ul li a:hover {
    background-color: #126969;
    border-radius: 2px;

}

.social {
    display: inline-block;
    position: fixed;
    right: -45px;
    bottom: 360px;

    width: 65px;
    border-radius: 20px;

    background-color: #56aaaa;
    transition: 0.6s;
}

.social:hover {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.social ul li img {
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-left: 10px;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #76d3f0;
}

.mvv{
    display: flex;
    flex-direction: column;
    padding: 0px 70px;
    width: 550px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    background-color: #76d3f0;
}

.mvv-text{
  margin: -100px;
}

.mvv-text h1{
  font-size: 90px;
}

.mvv-text p{
  display: flex;
  text-align:justify;
  font-size: 25px;
}

.mvv img{
    display: flex;
    width: 450px;
    height: 350px;
    margin: 50px;
}

.img-article{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 90px;
}
    
article{
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.espace{
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #fce2e8;
    margin: 100px;
}

.espace h1{
  font-size: 40px;
  margin: 60px;
  font-family: serif;
  text-transform: uppercase;
}

.espace h3{
  text-transform: uppercase;
}

.espace h1:before,
.espace h1:after {
  content: "";
  width: 35%;
  height: 4px;
  background: #555;
  position: absolute;
  top: 61%;
}

.espace h1:before {
  left: 0;
}
.espace h1:after {
  right: 0;
}

.espace h3{
  font-size: 30px;
}

.espace p{
  font-size: 25px;
}

.fabrica{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  margin-bottom: 20px;
  text-align:justify;
}

.f-icons{
  font-size: 35px;
  color: #070707;
  display: none;
}

.encomendas{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  margin-bottom: 20px;
  text-align:justify;
}

.entregas{
  display: flex;
  flex-direction: column;
  margin-left: 190px;
  margin-right: 190px;
  color: #fff;
  background-color: #bb5728;
  padding: 35px 45px;
  border-radius: 8px;
  transition: all .45s ease;
  text-align:justify;
}

.espaceCake{
    display: flex;
    flex-direction: row;
    padding: 10px 0px 0px 0px;
    margin: 100px;
}

.espaceCake img{
  margin: 18px;
}


section{
 display: flex;
 display: inline;
 text-align: center; 
 color: #fff;
}

section h1{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    color:  #fff;
}

article{
    display: flex;
    display: inline;
    text-align: center;
    color: #000000;;
}

article h1, h2{
    font-size: 3.0em;
    width: 100%;
    padding: 70px 0;
    font-weight: bold;
    font-family: 'Kaushan Script', cursive;
}

.all-article{
    background-color: white;
}

.section-local{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-local h1{
    font-family: 'Kaushan Script', cursive;
}

.section-local p{
    color: black;
}

.section-local img{
    width: 300px;
}

footer{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding-top: 40px;
}

footer .footer-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}

footer>p {
    color: black;
    padding-left: 23px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.developer {
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    background-color: white;
    padding: 5px;
}

.cars{
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}

  .course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }

  .row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

  }

  .course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
  }

  h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }

  .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }
  
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  margin-top: 50px;
  background-color: #56aaaa;
  gap: 10px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 80%;
  padding-top: 20px;
  padding-left: 40px;
}

.footer-section h3 {
  margin-bottom: 12px;
  margin-left: -150px;
  font-family: 'Ibarra Real Nova Bold', sans-serif;
  letter-spacing: 1px;
  color: #000000;

}

.footer-section ul li a {
  text-decoration: none;

  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;

  color: #ffffff;
}

.footer-section ul li a:hover {
  font-size: 16px;
  color: #fafa97;
}

.app ul {
  display: flex;
  gap: 10px;
}

.app img {
  width: 40px;
  height: 40px;

  transition: 0.2s;
}

.app img:hover {
  width: 50px;
  height: 50px;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: rgb(0, 0, 225, 0.2);
}

.copy img {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

.container-copy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 100%;
}

.social-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}

.social-copy img {
  width: 30px;
  height: 30px;
}

/*-------------------- RESPONSIVIDADE ----------------------------*/
@media screen and (max-width: 1608px){
    /*TELAS MENORES QUE ALGUMA RESOLUÇÃO*/
    .espace h1:before,
    .espace h1:after {
        content: "";
        width: 35%;
        height: 4px;
        background: #555;
        position: absolute;
        top: 76%;
    }

}

@media screen and (max-width: 1540px){

}

@media screen and (max-width: 1329px){
    
}

@media screen and (max-width: 983px){
    
}

@media screen and (max-width: 810px){
    
}

@media screen and (max-width: 412px){
    
}

@media screen and (max-width: 360px){
    
}