main {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ffecfd;
    ;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main {
    height: 70vh;
    width: 100%;

    margin-top: 50px;
}

.wrapper,
.slide {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    overflow: hidden;
}

.slide::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.slide .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slide .image-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 100;
}

.image-data span.text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.image-data h2 {
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}

a.button:hover {
    color: #fff;
    background-color: #c87e4f;
}

/* swiper button css */
.nav-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.nav-btn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.swiper-button-next {
    right: 50px;
}

.swiper-button-prev {
    left: 50px;
}

.nav-btn::before,
.nav-btn::after {
    font-size: 25px;
    color: #fff;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #c87e4f;
}

@media screen and (max-width: 768px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }
}


.slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 750px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    margin-top: -40px;
    z-index: 1;


    background-color: rgba(86, 170, 170, 0.8)
}

.slogan h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

footer {
    margin-top: -20px;
}

@media screen and (max-width: 1608px) {

}

@media screen and (max-width: 1540px) {

}

@media screen and (max-width: 1329px) {

}

@media screen and (max-width: 983px) {

}

@media screen and (max-width: 810px) {

}

@media screen and (max-width: 460px) {

}

@media screen and (max-width: 390px) {
    
}