@charset "UTF-8";

:root {
    --cor01: #fcb9aa;
    --cor02: #ffdbcc;
    --cor03: #eceae4;
    --cor04: #a2e1db;
    --cor05: #55cbcd;
}

/* Fonte do Header e para os demais textos do site (exceto o footer) */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

 /* font-family: 'Great Vibes', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital@1&display=swap');

/* font-family: 'Ibarra Real Nova', serif; */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&display=swap');

/* font-family: 'Public Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Pacifico', cursive; */

*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    /* Configuração Global */
}



@media (max-width: 1000px) {
    .logo {
        display: block;
    }
    /* Deixando a logo estatica acima dos 1000px */
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
    /* Fazendo com que a logo suma abaixo dos 800px */
}




body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor02);
}

header {
    background-color: var(--cor01);
    height: 250px;
}

header h1 {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 3em;
    font-style: italic;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    left: -1%;
}

nav {
    text-align: center;
    background-color: var(--cor04);
    padding: 5px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 5px 5px 5px;
    transition: 0.5s;
    color: black;
}

nav a:hover {
    background-color: black;   
    color: white;
    font-weight: bolder;
}

main {
    background-color: var(--cor02);
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
}

.info-catalogo {
    text-align: center;
    padding: 30px 10px;
    font-family: 'Public Sans', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
}

.info-catalogo::after {
    content: "\ ""\1F370"; 
    /* Adicionando um icone no final
    "\ " é para adicionar um espaço entre a última letra e o icon */
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px;
    padding-bottom: 10px;
}


div p {
    margin-top: 8px;
    margin-bottom: 8px;
}

main div:hover {
    background-color: black;
}

.bloco-img {
        
    text-align: center;
    border-radius: 10px;

}

.img-bolo {
    width: 350px;
    height: 254px;
}

.bloco-img {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 

    color: white;
    padding: 5px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px black;
}

aside {
    max-width: 1100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}

aside a:hover {
    text-decoration: underline;
}

aside a {
    color: black;
}

.more-information01 {
    background-color: var(--cor04);
    margin: -10px -10px 10px -10px;
    padding: 10px;
    text-align: center;
}

.more-information01 h2 {
    margin-bottom: 10px;
}

.more-information01 li::after {
    content: "\ ""\1F4F1";
}

.more-information02 li {
    padding-bottom: 7px;
}

.more-information02 ul {
    columns: 2;
    text-align: center;
}

.tachado {
    text-decoration: line-through;
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: var(--cor04);

    display: flex;
}

footer .boxs {
    width: 395px;
    min-height: 150px;
    padding: 20px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: white;
    margin-bottom: 20px;
}

.boxs ul li {
    list-style: none;
    margin: 10px 0px;
}

.boxs p {
    
    text-align: justify;
}

.rodape {
    text-align: center;
    background-color: var(--cor01);
}

.developer{
    margin: 0px;
    text-decoration: none;
}

.developer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

@media (max-width: 950px) {
    footer {
        flex-direction: column;
        /* 
        Abaixo dos 950px, o footer fica em colunas

        As configurações abaixo são apenas para organização do conteúdo

        Obs.: É necessário fazer tudo dentro deste @media para que funcione. */
    }
    footer .boxs {
        width: 100%;
        text-align: center;
    }
    footer .boxs:nth-child(4) {
        width: 100%;
    }
}