:root {
    --cor01: #ffdfee4f;
    --cor02: #7D5A5C;
    --cor03: #f2cb05;
}

*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
   /* background-color: #ffdfee98;*/
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

header h1{
    text-align: center;
    font-size: 1.6em;
    background-color: #7D5A5C;
    color: white;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.navigation #logo{
    width: 300px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navigation #user{
    width: 70px;
}

.navigation #cart-shopping{
    width: 70px;
}

.navigation #heart{
    width: 70px;
}

.navigation ul li a{
    color: black;
    font-weight: 600px;
    padding-bottom: 4px;
    border: solid black 4px;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
}

.container-pesquisa {
    left: 35%;
    position: relative;
    width: 40px;
    height: 40px;
}

.icon-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
}

.icon-pesquisa::before {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #f2cb05;
}

.icon-pesquisa::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #f2cb05;
}

.caixa-pesquisa {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 40px;
    width: 250px;
    box-shadow: 2px 2px 5px #777;
   /* transition: all 0.7s;*/
}

.caixa-pesquisa:valid {
    width: 450px;
}

main {
    min-width: 500px;
    max-width: 1200px;
    margin: auto;
    background-color: var(--cor01);
    padding: 10px;
}

section > h1 {
    padding: 30px 10px;
    text-align: center;

}

.container{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin: auto;
}

.bolo {
    width: 200px;
    height: 200px;

}

.container p {
    margin: auto;
    width: 500px;
    text-align: justify;
}


footer>p {
    color: white;
    padding-left: 23px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


.developer {
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    background-color: var(--cor02);
    padding: 5px;
}
