:root {
    --cor01: #fcb9aa;
    --cor02: #ffdbcc;
    --cor03: #eceae4;
    --cor04: #a2e1db;
    --cor05: #55cbcd;
}

 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

 /* font-family: 'Great Vibes', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

/* font-family: 'Great Vibes', cursive;
font-family: 'Pacifico', cursive; */


*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 1000px) {
    .logo {
        display: block;
    }
}

@media (max-width: 800px) {
    .logo {
        display: none;
    }
}

body {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor02);
}

header {
    background-color: var(--cor01);
    height: 250px;
}

header h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    left: -1%;
}

nav {
    text-align: center;
    background-color: var(--cor04);
    padding: 5px;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    border-radius: 5px;
    padding: 7px 5px 5px 5px;
    transition: 0.5s;
    color: black;
}

nav a:hover {
    background-color: black;   
    color: white;
    font-weight: bolder;
}

main {
    background-color: var(--cor02);
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding-top: 10px;
}

.info-catalogo {
    text-align: center;
    padding: 30px 10px;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

.info-catalogo::after {
    content: "\ ""\1F370";
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 10px;
    padding-bottom: 10px;
}


div p {
    margin-top: 8px;
    margin-bottom: 8px;
}

main div:hover {
    background-color: black;
}

.bloco-1, .bloco-2, .bloco-3, .bloco-4, .bloco-5, .bloco-6 {
        
    text-align: center;
    border-radius: 10px;

}

.img-bolo {
    width: 350px;
    height: 254px;
}

.bloco-1 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 

    color: white;
    padding: 5px;
    background-color: var(--cor05);
    box-shadow: 0px 0px 5px black;
}

.bloco-2 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 

    color:white;

    background-color: var(--cor05);
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

.bloco-3 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    color: white;

    background-color: var(--cor05);
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

.bloco-4 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; 

    color: white;

    background-color: var(--cor05);
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

.bloco-5 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    color: white;

    background-color: var(--cor05);
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

.bloco-6 {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    color: white;

    background-color: var(--cor05);
    padding: 5px;
    box-shadow: 0px 0px 5px black;
}

aside {
    min-width: 500px;
    max-width: 1100px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.315);
}

aside a:hover {
    text-decoration: underline;
}

aside a {
    color: black;
}

.more-information01 {
    background-color: var(--cor04);
    margin: -10px -10px 10px -10px;
    padding: 10px;
    text-align: center;
}

.more-information01 h2 {
    margin-bottom: 10px;
}

.more-information01 li::after {
    content: "\ ""\1F4F1";
}

.more-information02 li {
    padding-bottom: 7px;
}

.more-information02 ul {
    columns: 2;
    text-align: center;
}

footer {
    background-color: var(--cor01);
}

footer .footer-info {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

footer #institucional{
    color: black;
}

footer #duvidas{
    color: black;
}

footer #cliente{
    color: black;
}

footer #ajuda{
    color: black;
}

footer>p {
    color: white;
    padding-left: 23px;
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


.developer {
    text-align: center;
    font-size: 1.0em;
    text-align: center;
    background-color: var(--cor04);
    padding: 5px;
    color: black;
}
